
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css"
        />
     

    
        <!-- Header Section Begin -->
       
          <div class=" d-flex justify-content-center">
            <div class="header__logo pt-2 pb-2">
              <a href="/"
                ><img src="img/Logo2.png" height="60rem" alt=""
              /></a>
            </div>
          </div>
        
        <!-- Header Section End -->
     
    
 
