 <!-- Sidebar -->
 <ul
 class="navbar-nav bg-secondary sidebar sidebar-dark accordion"
 id="accordionSidebar"
>
 <!-- Sidebar - Brand -->
 <a
   class="sidebar-brand d-flex align-items-center justify-content-center"
   href="index.html"
 >
   <div class="sidebar-brand-icon">
     <div class="logo">
       <img src="/img/logo.png" width="200rem"  alt="logo" />
     </div>
   </div>
 </a>

 <!-- Divider -->
 <hr class="sidebar-divider my-0" />

 <!-- Nav Item - Dashboard -->
 <li class="nav-item active">
   <a class="nav-link" href="/admin">
     <i class="fas fa-fw fa-tachometer-alt"></i>
     <span>Dashboard</span></a
   >
 </li>

 <!-- Divider -->
 <hr class="sidebar-divider" />

<!-- Heading -->
<div class="sidebar-heading">Interface</div>

<!-- Customers Collapse Menu -->
<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#collapseCustomers"
    aria-expanded="true"
    aria-controls="collapseCustomers"
  >
    <i class="fa fa-users" aria-hidden="true"></i>
    <span>Customers</span>
  </a>
  <div
    id="collapseCustomers"
    class="collapse"
    aria-labelledby="headingCustomers"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Actions</h6>
      <a class="collapse-item" href="/admin/users">View</a>
    </div>
  </div>
</li>


<!-- Category Collapse Menu (Fixed) -->
<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#collapseCategories"
    aria-expanded="true"
    aria-controls="collapseCategories"
  >
    <i class="fa fa-th-large" aria-hidden="true"></i>
    <span>Categories</span>
  </a>
  <div
    id="collapseCategories"
    class="collapse"
    aria-labelledby="headingCategories"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Category Actions</h6>
      <a class="collapse-item" href="/admin/category">View Categories</a>
    </div>
  </div>
</li>
<!-- Products Collapse Menu -->
<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#collapseProducts"
    aria-expanded="true"
    aria-controls="collapseProducts"
  >
    <i class="fa fa-archive" aria-hidden="true"></i>
    <span>Products</span>
  </a>
  <div
    id="collapseProducts"
    class="collapse"
    aria-labelledby="headingProducts"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Actions</h6>
      <a class="collapse-item" href="/admin/products">View Products</a>
    </div>
  </div>
</li>


 <!-- Divider -->
 <hr class="sidebar-divider" />

 <!-- Heading -->
 <div class="sidebar-heading">Addons</div>

 <!-- Nav Item - Pages Collapse Menu -->
 <li class="nav-item">
   <a
     class="nav-link collapsed"
     href="#"
     data-toggle="collapse"
     data-target="#collapsePages"
     aria-expanded="true"
     aria-controls="collapsePages"
   >
     <i class="fas fa-fw fa-folder"></i>
     <span>Coupon</span>
   </a>
   <div
     id="collapsePages"
     class="collapse"
     aria-labelledby="headingPages"
     data-parent="#accordionSidebar"
   >
     <div class="bg-white py-2 collapse-inner rounded">
       <h6 class="collapse-header">Action:</h6>
       <a class="collapse-item" href="/admin/coupon">view</a>
      
       
     </div>
   </div>
 </li>

 <!-- Nav Item - Charts -->
 <li class="nav-item">
   <a class="nav-link" href="charts.html">
     <i class="fas fa-fw fa-chart-area"></i>
     <span>Charts</span></a
   >
 </li>

 <!-- Nav Item - Tables -->
 <li class="nav-item">
   <a class="nav-link" href="tables.html">
     <i class="fas fa-fw fa-table"></i>
     <span>Tables</span></a
   >
 </li>

 <!-- Divider -->
 <hr class="sidebar-divider d-none d-md-block" />

 <!-- Sidebar Toggler (Sidebar) -->
 <div class="text-center d-none d-md-inline">
   <button class="rounded-circle border-0" id="sidebarToggle"></button>
 </div>

 <!-- Sidebar Message
 <div class="sidebar-card d-none d-lg-flex">
     <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
     <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
     <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
 </div> -->
</ul>
<!-- End of Sidebar -->